
.responsive-nav {
    background-color: rgb(180, 75, 180);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  
  .menu-toggle {
    display: none;
    font-size: 20px;
    cursor: pointer;
    color: white(21, 14, 217);
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1000;
  }
  
  #menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }
  
  #menu li {
    margin-right: 20px;
  }
  
  #menu a {
    color: white;
    padding: 5px;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    #menu {
      display: none;
      flex-direction: column;
      gap: 2rem;
      align-items: end;
      width: 100%;
      margin-top: 40px;
    }
  
    #menu.show {
      display: flex;
    }
  }
  